html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

h2 {
  font-size: 25px;
}
/* Used to hide elements for the game */

.hidden {
  display: none;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    transform: rotateY(0);
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
}

.deck .card.unmatch {
    cursor: default;
    background: #ff3311;
    font-size: 33px;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}

.score-panel .timer {
    float: right;
    padding-right: 10px;
    padding-left: 10px;
}

/*
 * Styles for the Win Panel
 */

.win-panel {
  background: #2e3d49;
  width: 90%;
  height: 60%;
  max-width: 900px;
  z-index: 1;
  position: fixed;
  overflow: auto;
  border-radius: 50px;
  border: 10px solid #c99312;
}

.win-panel-content {
  margin: auto;
  text-align: center;
  color: #f1f1f1;
  padding-top: 60px;
}

.win-panel .end-scores {
  color: #c99312;
}

.win-panel .end-icons {
  color: #c99312;
}

.end-icons:hover {
  color: #f1f1f1;
}

.win-panel .close-button {
  color: #c99312;
  float: right;
  padding-right: 25px;
  padding-top: 25px;
  font-size: 25px;
}

.close-button:active,
.close-button:hover {
  color: #f1f1f1;
}

.win-panel .end-restart {
  color: #c99312;
  padding-right: 5px;
  padding-left: 5px;
}

.end-restart:active,
.end-restart:hover {
  color: #f1f1f1;
}

@media only screen and (min-width: 320px) and (max-width: 450px){
  .deck {
      width: 300px;
      min-height: 300px;
      padding: 6px;
  }

  .deck .card {
      height: 65px;
      width: 65px;
  }

  .score-panel {
      text-align: left;
      width: 300px;
      margin-bottom: 10px;
  }

  .win-panel .close-button {
    padding-right: 18px;
    padding-top: 18px;
    font-size: 20px;
  }

  h2 {
    font-size: 20px;
  }

  .win-panel-content {
    padding-top: 40px;
  }
}

@media only screen and (min-width: 451px) and (max-width: 660px){
  .deck {
      width: 450px;
      min-height: 450px;
      padding: 10px;
  }

  .deck .card {
      height: 95px;
      width: 95px;
  }

  .score-panel {
      text-align: left;
      width: 450px;
      margin-bottom: 10px;
  }

  .win-panel .close-button {
    padding-right: 20px;
    padding-top: 20px;
    font-size: 25px;
  }

  h2 {
    font-size: 25px;
  }

  .win-panel-content {
    padding-top: 50px;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1200px){
  .deck {
      width: 900px;
      min-height: 950px;
      padding: 10px;
  }

  .deck .card {
      height: 200px;
      width: 200px;
  }

  .score-panel {
      text-align: left;
      width: 800px;
      margin-bottom: 10px;
      font-size: 40px;
  }

  .win-panel .close-button {
    padding-right: 20px;
    padding-top: 20px;
    font-size: 25px;
  }

  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 55px;
  }

  .end-font {
    font-size: 45px;
  }

  .win-panel-content {
    padding-top: 50px;
  }

  .deck .card.show {
      font-size: 60px;
  }

  .deck .card.match {
      font-size: 60px;
  }

  .deck .card.unmatch {
      font-size: 60px;
  }
}
